.p-40{
padding: 40px 40px 40px 40px;
}

.m-40{
    margin: 40px 40px 40px 40px;
}
.pt-10{

    padding-top: 10px;;
}

.mt-10{
    margin-top: 10px;
}
.main-layout{
    box-shadow: 0px 1px 2px 1px #dddd;
    margin: 40px 40px 40px 40px;
    padding: 40px 40px 40px 40px;
}

.header-sticky{
    position: sticky !important;
    top:0 !important;
    background:white !important;
    z-index: 1 !important;
}


.scroll{
    overflow: scroll !important;
}

.w-150{
width: 150% !important;
}

.gray{
    background-color: #EEEEEE !important;
}


.pt-10{
    padding-top: 10px !important;
}